body {
  font-family: 'PT serif', serif;
}

h1,h2,h3 {
  font-family: 'PT Sans', sans-serif;
}

ul {
  list-style: none;
  text-align: center;
  font-family: 'PT Sans', sans-serif;
}

ul li {
  display: inline-block;
  padding: 10px;
  border-right: 1px solid gray;

}

ul li:last-child { 
  border:none;
}

#sidebar {
  width: 300px;
  float: left;
}

footer {
  clear: left;
}

